In [6]:
# Create a list

L = ["Marten Dyally", 2.1, 1986]
L

['Marten Dyally', 2.1, 1986]

In [7]:
# Print the elements on each index

print("the same element using negative and positive indexing:\n Postive:" ,L[0],
     '\ Negative:' , L[-3])
print("the same element using negative and positive indexing:\n Postive:" ,L[1],
     '\ Negative:' , L[-2])
print("the same element using negative and positive indexing:\n Postive:" ,L[2],
     '\ Negative:' , L[-1])

the same element using negative and positive indexing:
 Postive: Marten Dyally \ Negative: Marten Dyally
the same element using negative and positive indexing:
 Postive: 2.1 \ Negative: 2.1
the same element using negative and positive indexing:
 Postive: 1986 \ Negative: 1986

In [5]:
# Sample List 

["Marten Dyally", 2.1, 1986, [1, 2], ("A" 1)]

SyntaxError: invalid syntax (1064668974.py, line 3)

In [10]:
# Sample List

L = ["Marten Dyally", 2.1,1986,"MD",1]
L

['Marten Dyally', 2.1, 1986, 'MD', 1]